.post-container {
  margin: 30px auto 0 auto;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  box-shadow: 0px 0px 5px lightgray;
  width: 65%;
}

.post-header {
  padding: 15px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.post-thumbnail {
  border-radius: 25px;
  max-height: 35px;
  margin-right: 15px;
}

.post-img {
  max-width: 100%;
}

.post-footer {
  padding: 15px 0 0 15px;
}

.post-footer img {
  max-height: 25px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.post-footer-likes {
  font-weight: bold;

}